body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 10;
}

header {
    padding: 0.5rem 0;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    background-clip: text;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    color: #1e293b;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.top-terminal {
    background-color: #B6B09F;
    width: 70%;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0 0 ;
}

.terminal {
    background-color: #EAE4D5;
    color: green;
    height: 600px;
    width: 70%;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}